In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("president_heights.csv")
data.head(3)

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189

In [ ]:
min_h = np.min(data["height(cm)"])
min_idx = np.argmin(data["height(cm)"])
min_ord = data["order"][min_idx]
name_min = data["name"][min_idx]

In [ ]:
max_h = np.max(data["height(cm)"])
max_idx = np.argmax(data["height(cm)"])
max_ord = data["order"][max_idx]
name_max = data["name"][max_idx]

In [ ]:
print(f"The tallest president is {name_max}, height is {max_h}, order is {max_ord}.")
print(f"The shortest president is {name_min}, height is {min_h}, order is {min_ord}.")

The tallest president is Abraham Lincoln, height is 193, order is 16.
The shortest president is James Madison, height is 163, order is 4.