In [1]:
import pandas as pd

In [5]:
mypopudict = {'Aydın': 1134031,'İzmir': 4321000,'Muğla': 1021773,'Antalya': 2548308,'Bursa': 3147818,'İstanbul': 15460000,'Eskişehir': 887475}
population = pd.Series(mypopudict)
population

Aydın         1134031
İzmir         4321000
Muğla         1021773
Antalya       2548308
Bursa         3147818
İstanbul     15460000
Eskişehir      887475
dtype: int64

In [6]:
myareadict = {'Aydın': 1582,'İzmir': 11891,'Muğla': 1661,'Antalya': 1417,'Bursa': 10820,'İstanbul': 5343,'Eskişehir': 2678}
area = pd.Series(myareadict)
area

Aydın         1582
İzmir        11891
Muğla         1661
Antalya       1417
Bursa        10820
İstanbul      5343
Eskişehir     2678
dtype: int64

In [8]:
df_data = pd.DataFrame({"Population": population,"Area": area})
df_data

           Population   Area
Aydın         1134031   1582
İzmir         4321000  11891
Muğla         1021773   1661
Antalya       2548308   1417
Bursa         3147818  10820
İstanbul     15460000   5343
Eskişehir      887475   2678